body{
    background: #7ddbe5;
    display: grid;
    place-content: center;
    
}
h1{
    text-align: center;
    font-weight: bolder;
    margin: 20px;
}
.style{
    background: #fff059;
    margin-top: 150px;
    width: 100vh;
    place-content: center;
}
input{
    margin-left: 35px;
    margin-bottom: 10px;
}
input[type=text]{
 padding: 9px;
box-sizing: border-box;
    font-size: 16px;
    width: 85%;
}
button{
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 10px;
}

li{
    list-style: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
    display: inline;
    margin: 10px;
}
i{
    color: red;
    margin: 10px;
}
#mytodo{
    text-align: center;
}